.clearfix:before, .slick-track:before, .clearfix:after, .slick-track:after {
  content: "";
  display: table; }
.clearfix:after, .slick-track:after {
  clear: both; }

@media (min-width: 550px) {
  .right-align {
    margin-left: auto;
    text-align: right; } }
.elements-stacked, .elements-inline {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .elements-stacked > *, .elements-inline > * {
    margin: 10px 0; }
    .elements-stacked > *:last-child, .elements-inline > *:last-child {
      margin-bottom: 0; }
    @media (min-width: 768px) {
      .elements-stacked > *, .elements-inline > * {
        margin: 20px 0; } }

@media (min-width: 1024px) {
  .elements-inline {
    flex-direction: row; }
    .elements-inline > * {
      margin: 0 10px; }
    .elements-inline .icon {
      margin: 0 10px; } }

.visually-hidden {
  max-height: 0;
  overflow: hidden; }

.show {
  max-height: none;
  overflow: initial; }

.debug {
  border: solid 1px red; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  color: #5f5f5f;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  margin: 6px 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 20px 40px; }

hr {
  background-color: #EFEFEF;
  border: 0;
  box-sizing: content-box;
  height: 1px;
  margin: 20px 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 16px; }

button, input, select, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], html select[type="button"], input[type="reset"], select[type="reset"], input[type="submit"], select[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled], html select[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select {
  line-height: normal; }

input[type="checkbox"], select[type="checkbox"], input[type="radio"], select[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, select[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button, select[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"], select[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, select[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, select[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 5px 10px; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

h1, h2, h3, h4 {
  clear: both;
  color: #5f5f5f;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 10px; }

h1 {
  font-size: 3rem;
  letter-spacing: -1px;
  line-height: 1.2; }
  @media (min-width: 550px) {
    h1 {
      font-size: 3.4rem; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 4.4rem; } }

h2 {
  font-size: 2.6rem;
  letter-spacing: -1px;
  line-height: 1.25; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3.2rem; } }
  @media (min-width: 1024px) {
    h2 {
      font-size: 3.8rem; } }

h3 {
  font-size: 2.4rem;
  letter-spacing: -.5px;
  line-height: 1.3; }
  @media (min-width: 768px) {
    h3 {
      font-size: 2.6rem; } }
  @media (min-width: 1024px) {
    h3 {
      font-size: 3rem; } }

h4 {
  font-size: 2rem;
  letter-spacing: -.5px;
  line-height: 1.35; }
  @media (min-width: 768px) {
    h4 {
      font-size: 2.2rem; } }
  @media (min-width: 1024px) {
    h4 {
      font-size: 2.4rem; } }

p {
  margin: 0 0 20px; }

blockquote {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin: 20px auto;
  width: 90%; }
  @media (min-width: 768px) {
    blockquote {
      font-size: 2.4rem;
      margin: 40px auto; } }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

.helper-text {
  font-size: 90%; }

::selection {
  background: #2699FB;
  color: #fff; }

::-moz-selection {
  background: #2699FB;
  color: #fff; }

a {
  border-color: #2699FB !important;
  color: #2699FB;
  cursor: pointer;
  text-decoration: none;
  transition: all ease-in-out 0.3s; }

a:active, a:hover {
  border-color: #0E78D2;
  color: #0E78D2;
  outline: 0; }

a:focus {
  outline: 1px dotted #0E78D2; }

.container {
  margin: 20px auto;
  position: relative;
  max-width: 1600px;
  width: 90%; }

.container--narrow {
  margin: 0 auto;
  position: relative;
  max-width: 1200px; }

.flex-container {
  display: flex;
  flex-direction: column;
  position: relative; }
  @media (min-width: 550px) {
    .flex-container {
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }

.flex-grid {
  justify-content: flex-start; }

.col-1, .col-2, .col-3, .col-4, .col-5 {
  margin-bottom: 20px;
  width: 100%; }

@media (min-width: 550px) {
  .col-2, .col-3, .col-4, .col-5 {
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc(50% - 10px); }
    .col-2:nth-child(even), .col-3:nth-child(even), .col-4:nth-child(even), .col-5:nth-child(even) {
      margin-right: 0; }

  .col-two-thirds {
    width: 70%; }

  .col-one-third {
    width: 25%; } }
@media (min-width: 768px) {
  .col-3, .col-4, .col-5 {
    width: calc(33.5% - 16px); }
    .col-3:nth-child(even), .col-4:nth-child(even), .col-5:nth-child(even) {
      margin-right: 20px; }
    .col-3:nth-child(3n+3), .col-4:nth-child(3n+3), .col-5:nth-child(3n+3) {
      margin-right: 0; } }
@media (min-width: 1024px) {
  .col-4, .col-5 {
    width: calc(25% - 16px); }
    .col-4:nth-child(3n+3), .col-5:nth-child(3n+3) {
      margin-right: 20px; }
    .col-4:nth-child(4n+4), .col-5:nth-child(4n+4) {
      margin-right: 0; } }
@media (min-width: 1400px) {
  .col-5 {
    width: calc(20% - 20px); }
    .col-5:nth-child(4n+4) {
      margin-right: 20px; }
    .col-5:nth-child(5n+5) {
      margin-right: 0; } }
.button, input[type="submit"], select[type="submit"], input[type="button"], select[type="button"], button {
  background: #2699FB;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .2px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all ease-in-out 0.3s; }
  .button:visited, input[type="submit"]:visited, select[type="submit"]:visited, input[type="button"]:visited, select[type="button"]:visited, button:visited {
    color: #fff; }
  .button:active, input[type="submit"]:active, select[type="submit"]:active, input[type="button"]:active, select[type="button"]:active, .button:hover, input[type="submit"]:hover, select[type="submit"]:hover, input[type="button"]:hover, select[type="button"]:hover, button:active, button:hover {
    background: #0E78D2;
    color: #fff;
    outline: 0; }
  .button:active, input[type="submit"]:active, select[type="submit"]:active, input[type="button"]:active, select[type="button"]:active, button:active {
    transform: translateY(1px); }
  .button .icon, input[type="submit"] .icon, select[type="submit"] .icon, input[type="button"] .icon, select[type="button"] .icon, button .icon {
    margin-bottom: 0; }

@media (min-width: 550px) {
  .button.primary, input.primary[type="submit"], select.primary[type="submit"], input.primary[type="button"], select.primary[type="button"] {
    font-size: 1.8rem; } }
.button.secondary, input.secondary[type="submit"], select.secondary[type="submit"], input.secondary[type="button"], select.secondary[type="button"] {
  background: #D2D2D2;
  color: #5f5f5f; }
  .button.secondary:active, input.secondary[type="submit"]:active, select.secondary[type="submit"]:active, input.secondary[type="button"]:active, select.secondary[type="button"]:active, .button.secondary:hover, input.secondary[type="submit"]:hover, select.secondary[type="submit"]:hover, input.secondary[type="button"]:hover, select.secondary[type="button"]:hover {
    background: #5f5f5f;
    color: #fff; }

.button-centered {
  display: flex;
  justify-content: center; }

th, td {
  padding: 10px 20px;
  text-align: center; }

th {
  background: #2699FB;
  color: #fff; }

tr {
  background: #e2e2e2;
  border: solid 1px #fff; }
  tr:nth-of-type(odd) {
    background: #f2f2f2; }

@media screen and (max-width: 550px) {
  table, thead, tbody, th, td, tr {
    display: block; }

  thead tr, th {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  tr {
    border: 1px solid #ccc;
    border-top: none; }
    tr:first-child {
      border-top: 1px solid #ccc; }

  td {
    border-bottom: 1px solid #fff;
    padding-left: 50%;
    position: relative; }
    td:last-child {
      border-bottom: none; }

  td:before {
    content: attr(data-label);
    font-weight: 700;
    left: 6px;
    position: absolute;
    top: 12px;
    width: 45%;
    white-space: nowrap; } }
form {
  background: #EFEFEF;
  border-radius: 5px;
  margin: 20px 0;
  max-width: 500px;
  padding: 20px;
  width: 100%; }
  @media (min-width: 550px) {
    form {
      margin: 40px 0; } }

input, select, textarea, select, fieldset {
  margin-bottom: 20px; }

input, select, textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-size: 1.6rem;
  height: 40px;
  padding: 5px 10px;
  width: 100%; }
  input:focus, select:focus, textarea:focus {
    border: 1px solid #2699FB;
    outline: 0; }

select {
  appearance: normal; }

textarea {
  min-height: 100px;
  resize: vertical; }

label, legend {
  color: #5f5f5f;
  display: block;
  font-weight: 400;
  margin-bottom: 0;
  position: relative; }

fieldset {
  border-width: 0;
  padding: 0; }

.radio-container, .checkbox-container {
  margin-bottom: 15px; }

.radio-container label, .checkbox-container label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem; }

.radio-list, .checkbox-list {
  padding-left: 0;
  margin: 40px 0; }
  .radio-list li, .checkbox-list li {
    list-style: none; }

input[type="radio"], select[type="radio"], input[type="checkbox"], select[type="checkbox"] {
  cursor: pointer;
  display: inline-block;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 9999; }

.custom-radio, .custom-checkbox {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #D2D2D2;
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 0 8px 0 0;
  padding: 0;
  vertical-align: middle;
  width: 32px;
  -webkit-backface-visibility: hidden; }

.custom-radio {
  border-radius: 18px; }

input:active + .custom-radio, select:active + .custom-radio, input:active + .custom-checkbox, select:active + .custom-checkbox {
  box-shadow: 0 0 0 1px #2699FB; }

input:focus + .custom-radio, select:focus + .custom-radio, input:focus + .custom-checkbox, select:focus + .custom-checkbox {
  box-shadow: 0 0 0 1px #2699FB; }

input[type="radio"]:checked + .custom-radio::after, select[type="radio"]:checked + .custom-radio::after, input[type="checkbox"]:checked + .custom-checkbox::after, select[type="checkbox"]:checked + .custom-checkbox::after {
  background: #2699FB url(../images/icons/icon-tick.svg) center/20px no-repeat;
  border-radius: 5px;
  content: '';
  display: inline-block;
  height: 32px;
  padding: 6px;
  width: 32px; }

input[type="radio"]:checked + .custom-radio::after, select[type="radio"]:checked + .custom-radio::after {
  background-size: 18px;
  border-radius: 16px; }

input[type="submit"], select[type="submit"], input[type="button"], select[type="button"] {
  height: auto;
  margin-bottom: 0;
  width: 100%; }
  @media (min-width: 550px) {
    input[type="submit"], select[type="submit"], input[type="button"], select[type="button"] {
      max-width: 180px; } }

.field-validation-valid, .validation-summary-valid {
  display: none !important; }

.field-validation-error, .validation-summary-error {
  display: block !important; }

::-webkit-input-placeholder {
  color: #7c7b7b; }

::-moz-placeholder {
  color: #7c7b7b; }

figure, img {
  margin-bottom: 20px; }

img {
  height: auto;
  max-width: 100%;
  display: inline-block; }

.banner-image {
  height: 350px;
  min-width: 100%;
  object-fit: cover; }

embed, iframe, object {
  max-width: 100%; }

/* For responsive iframes, wrap a .video-container div around the embedded video, and a .video-outer-container div around the container. video-outer-container is necessary on larger screens if the only containing element is your page container. */
@media (min-width: 768px) {
  .video-outer-container {
    margin: 0 auto;
    width: 80%; } }
@media (min-width: 1024px) {
  .video-outer-container {
    width: 70%; } }
@media (min-width: 1400px) {
  .video-outer-container {
    width: 60%; } }

.video-container {
  padding-top: 25px;
  height: 0;
  margin: 0 auto;
  padding-bottom: 56.25%;
  position: relative; }
  .video-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.icon {
  height: 20px;
  fill: #2699FB;
  transition: all 0.3s;
  vertical-align: middle;
  width: 20px; }
  @media (min-width: 550px) {
    .icon {
      height: 25px;
      width: 25px; } }

ol, ul {
  padding-left: 20px;
  margin: 20px 0 20px 20px; }

ul ul, ul ol, ol ol, ol ul {
  margin: 20px 0 20px 40px; }

li {
  margin-bottom: 10px; }

.dropdown-container {
  position: relative; }

.dropdown {
  background: #fff;
  border-radius: 5px;
  display: none;
  font-size: 1.6rem;
  margin-bottom: 5px;
  width: 100%;
  z-index: 999; }
  .dropdown.show {
    border: solid 1px #D2D2D2;
    display: block;
    margin-top: 3px;
    padding: 3px; }
  @media (min-width: 550px) {
    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      margin-bottom: 0; } }

.dropdown__list {
  margin: 0;
  padding: 0; }

.dropdown__list-item {
  background: #fff;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 5px 15px;
  transition: all 0.3s; }
  .dropdown__list-item:nth-child(even) {
    background: #EFEFEF; }
  .dropdown__list-item:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
  .dropdown__list-item:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
  .dropdown__list-item:hover, .dropdown__list-item:active {
    background: #2699FB;
    color: #2699FB; }
    .dropdown__list-item:hover a, .dropdown__list-item:active a {
      color: #2699FB !important; }

.header {
  background: #fff;
  border-bottom: solid 1px #D2D2D2;
  left: 0;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

.container--header {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto; }

.container--nav {
  align-items: center;
  height: 100%;
  justify-content: center;
  margin: 0 auto; }

.close-nav {
  position: absolute;
  top: 20px;
  right: 20px; }

.main-nav {
  background: rgba(95, 95, 95, 0.9);
  height: 100vh;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: -4000px;
  right: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 9999; }
  .main-nav--open {
    top: 0; }
  @media (min-width: 768px) {
    .main-nav {
      font-size: 2.4rem; } }

.main-nav__list {
  margin: 0 auto;
  padding: 0; }

.main-nav__link {
  list-style: none; }
  .main-nav__link a, .main-nav__link a:visited {
    color: #fff; }
  .main-nav__link a:hover, .main-nav__link a:active {
    color: #f2f2f2; }

main, .content-heading, .content-main {
  position: relative; }

main {
  margin: 40px 0; }

section {
  margin: 20px auto; }
  @media (min-width: 768px) {
    section {
      margin: 40px auto; } }
  @media (min-width: 1400px) {
    section {
      margin: 80px auto; } }

aside {
  background: #fff;
  height: 100vh;
  margin: 0 !important;
  max-width: 600px !important;
  padding: 40px; }

.text-danger {
  background: #db4a4a;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 5px;
  padding: 3px 6px; }
  .text-danger ul {
    list-style: none;
    margin: 0; }
  .text-danger li:last-child {
    margin: 0; }

.error-overlay {
  position: relative; }
  .error-overlay:before {
    background: rgba(219, 74, 74, 0.8) url("../images/icons/icon-error.svg") center/50px 50px no-repeat;
    content: '';
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.file-error {
  border-color: #db4a4a;
  color: #db4a4a; }
  .file-error .file-list-item__status {
    color: #db4a4a;
    font-size: 1.8rem;
    font-weight: bold; }

.card {
  background: #fff;
  position: relative; }

.card.active .card__card-info {
  background: #EFEFEF;
  border: solid 1px #D2D2D2; }

.card.selected .card-media__image {
  border: solid 5px #2699FB; }
.card.selected .card__card-info {
  background: #2699FB; }

.card__card-select {
  display: inline-block;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px; }
  @media (min-width: 768px) {
    .card__card-select {
      height: 40px;
      width: 40px; } }

.card__card-media {
  background: #EFEFEF; }

.card-media__image {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: block;
  margin: 0 auto; }

.card__card-info {
  font-size: 1.6rem;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.card-info__title {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 10px; }

.card-info__type, .card-info__date {
  display: inline-block;
  margin-bottom: 10px; }

.card-info__type .icon, .card-info__details .icon {
  margin-right: 10px; }

.card-info__details {
  margin: 10px 0; }
  .card-info__details div {
    display: block;
    margin-bottom: 5px; }

.card-tags__container:not(:last-child) {
  margin-bottom: 10px; }

.card-tags__title {
  color: #5f5f5f;
  display: block;
  margin-bottom: 3px; }

.card-tags__add-tag {
  display: block;
  font-size: 1.4rem;
  margin-top: 5px; }

.accordion {
  margin: 20px auto; }

.accordion__trigger {
  background: #2699FB;
  border: solid 1px #2699FB;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  padding: 8px 16px;
  position: relative;
  text-align: left;
  width: 100%; }
  .accordion__trigger:after {
    content: '+';
    font-size: 2rem;
    position: absolute;
    top: 4px;
    right: 10px; }

.accordion__content {
  background: #EFEFEF;
  border-radius: 0 0 5px 5px;
  display: none;
  font-size: 1.6rem;
  padding: 20px; }
  .accordion__content *:last-child {
    margin-bottom: 0; }

.show .accordion__trigger {
  background: #0E78D2; }
  .show .accordion__trigger:after {
    content: '-'; }
.show .accordion__content {
  display: block; }

.loader {
  display: block;
  height: 25px;
  margin: 0 auto;
  width: 25px; }

.loader--large {
  height: 75px;
  margin-bottom: 20px;
  width: 75px; }
  @media (min-width: 768px) {
    .loader--large {
      height: 100px;
      width: 100px; } }
  @media (min-width: 1024px) {
    .loader--large {
      height: 125px;
      margin-bottom: 40px;
      width: 125px; } }

.loader--small {
  height: 25px;
  width: 25px; }

.modal {
  background: rgba(95, 95, 95, 0.9);
  display: none;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9998; }

.modal--open {
  display: block; }

.container--modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  position: relative; }

.modal-content {
  background: #fff;
  border-radius: 5px;
  max-height: 90vh;
  overflow-y: scroll;
  padding: 40px 20px 20px;
  position: relative;
  width: 100%;
  z-index: 9999; }
  .modal-content *:last-child {
    margin-bottom: 0; }
  @media (min-width: 1024px) {
    .modal-content {
      padding: 40px; } }

.close-modal {
  position: absolute;
  top: 0;
  right: 0; }

.slider-container {
  position: relative;
  margin: 40px auto;
  max-width: 900px; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }

.slick-list .slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: 0;
  margin-right: auto; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  min-height: 1px; }
  .slick-slide img {
    display: block;
    margin: 0 auto; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

.slick-list .card {
  margin: 0 20px 20px 0; }
  @media screen and (max-width: 600px) {
    .slick-list .card {
      margin: 0 0 30px; } }

.slider-arrows {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 30px);
  transform: translateY(-50%);
  vertical-align: middle;
  width: 100%; }

.slider-arrows__prev, .slider-arrows__next {
  background: transparent;
  content: url(../images/icons/icon-arrow.svg);
  cursor: pointer;
  height: 30px;
  margin: 0 10px;
  width: 30px; }

.slider-arrows__prev {
  transform: rotate(180deg); }

.slick-disabled {
  display: none !important; }

.slick-dots {
  margin: 20px auto;
  padding: 0;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    list-style: none; }
  .slick-dots button {
    background: #D2D2D2;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    margin: 4px 8px;
    padding: 0;
    width: 15px; }
    .slick-dots button:active, .slick-dots button:focus {
      outline: 0; }

.slick-active button {
  background: #2699FB; }

/*# sourceMappingURL=style.css.map */
