
figure, img { margin-bottom: 20px; }

img {
	height: auto; 
    max-width: 100%; 
    display: inline-block; // removes additional whitespace
}


.banner-image {
    height: 350px;
    min-width: 100%;
    object-fit: cover;
}


// Ensure embeds and iframes fit within their containers
embed, iframe, object { max-width: 100%; }


/* For responsive iframes, wrap a .video-container div around the embedded video, and a .video-outer-container div around the container. video-outer-container is necessary on larger screens if the only containing element is your page container. */
.video-outer-container {
    @include breakpoint-m {
        margin: 0 auto;
        width: 80%;  
    }
    @include breakpoint-l { width: 70%; }
    @include breakpoint-xl { width: 60%; }   
}
.video-container {
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    padding-bottom: 56.25%; // 16:9 aspect ratio
    position: relative;
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}


