
.header {
    background: #fff;
    border-bottom: solid 1px $grey--med;
    left: 0;
    padding: $small 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.container--header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}


